@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
    /* height: 100%;
    width: 100%; */
}

.border {
    border: 2px solid red;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}



.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    font-weight: bold;
    padding: 23px 14px;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;



}

.heading img {
    width: 30px;
}

.Library {
    min-height: 80vh;
    position: relative;

}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;



}

.footer a {
    color: grey;

}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    /* gap: 4px; */
    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 60vh;
}


.Card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;

}

.Card:hover{
    background-color: rgb(65, 63, 58);
    cursor: pointer;
    --a:1;
}

.Card>* {
    padding-top: 10px;

}

.Card img {
    width: 100%;
    object-fit: contain;

}

.play {
    width: 28px;
    /* Set width and height to create a circle */
    height: 28px;
    background-color: #1fdf64;
    /* Green background */
    border-radius: 50%;
    /* Makes the div circular */
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
    position: absolute;

    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
    bottom: 88px;
}



.play svg {
    width: 60px;
    /* Adjust the size of the SVG inside the circle */
    height: 60px;
    fill: black;
    /* Change the SVG color to black */
    display: block;
}

.buttons>* {
    margin: 0px 12px
}

.signupbtn {
    background-color: black;
    color: rgb(121, 115, 115);
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 16px;

}

.signupbtn:hover {
    font-size: 17px;
    color: white;

}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    /* font-weight: bold; */
    padding: 10px;
    cursor: pointer;
    width: 79px;
    font-size: 16px;
}

.loginbtn:hover {
    font-size: 17px;
    font-weight: bold;
}



.playbar {
    bottom: 30px;
    position: absolute;
    /* position: fixed; */
    /* position fixed set earlier */
    align-items: center;
    min-height: 40px;
    justify-content: center;
    background-color: #e2d9d9;
    width: 70vw;
    padding: 12px;
    filter: invert(1);
    border-radius: 30px;
    padding: 12px;
    /* width: 90%; */







}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.playbar img {
    width: 24px;
    /* Set a fixed width for the SVGs */
    height: 24px;
    /* Set a fixed height for the SVGs */
    fill: black;
    /* Optional: Set the color of the SVGs */

}

.songlist ul {
    padding: 0 12px;
    /* padding-left: 50px;
    padding-right: 50px; */

}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding: 12px 0;
    border-radius: 5px;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    /* width: 120%; */
    padding: 13px;
    justify-content: space-between;
    border-radius: 12px;

}

.songlist img {
    width: 24px;

}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;

}

.songlist .info {
    font-size: 13px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.songlist {
    height: 419px;
    overflow: auto;
    margin-bottom: 44px;

}

.seekbar {
    height: 2px;
    width: 96%;
    border: 2px solid black;
    /* align-items: center; */
    position: absolute;
    bottom: 0;
    border-radius: 40px;
    /* width: 68vw; */
    margin: 6px;
    background-color: black;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
    
}

/* .volume:hover::after{
    content: "neel";

} */



.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
    /* width:100% */
}

.hamburger {
    display: none;
    cursor: pointer;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}


.hamburgerCont {
    justify-content: center;
    align-items: center;
    gap: 14px;
    display: flex;
}

.left .close img {
    position: relative;
    right: 33px;
    top: 25px;
    width: 29px;
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
}